.HeaderBody {
    height: 75px;
    width: 100vw;
    background: rgb(76, 76, 86);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.HeaderLeft {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.HeaderLogo {
    height: 60px;
    width: auto;
}

.HeaderText {
    height: 30px;
    width: auto;
    margin-left: 15px;
}

.HeaderLeft h2 {
    margin-left: 20px;
    color: rgb(237, 224, 140);
    text-shadow: -1px 0 rgb(170, 134, 56), 0 1px  rgb(170, 134, 56), 1px 0  rgb(170, 134, 56), 0 -1px  rgb(170, 134, 56);
}

.HeaderRight {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}

.HeaderRight h3 {
    background: -webkit-linear-gradient(rgb(160, 110, 30), rgb(240, 220, 115), rgb(160, 110, 30));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.HeaderRight h3:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(rgb(160, 110, 30), rgb(240, 220, 115), rgb(160, 110, 30));
    -webkit-text-fill-color: white;
}